<div class="row">
  <h1></h1>
  <div class="column small-12 medium-5 large-6">

  <%= form_for @reservation do |f| %>
   
    <% if @reservation.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@reservation.errors.count, "error") %> prohibited
          this reservation from being saved:
        </h2>
        <ul>
          <% @reservation.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="column">
      <%= f.text_field :table_id, placeholder: "Table" %>
    </div>

    <div class="column">
      <%= f.text_field :name, placeholder: "Name" %>
    </div>

    <div class="column">
      <%= f.text_field :guests, placeholder: "Number of Guests" %>
    </div>

    <div class="column">
      <%= f.datetime_select :time, discard_minute: true, ampm: true %>
    </div>

    <div class="column">
      <p>
        <%= f.submit class: "button" %>
      </p>
    </div>
   
  <% end %>
  </div>
</div> 